<IfModule mod_rewrite.c>

    RewriteEngine On
	
	RewriteCond %{QUERY_STRING} ^(.*)&?f=[^&]+&?(.*)$ [NC]
	RewriteRule ^/?(.*)$ /$1?%1%2 [R=301,L]
	
	RewriteCond %{QUERY_STRING} ^(.*)&?ditto_cat_tags=[^&]+&?(.*)$ [NC]
	RewriteRule ^/?(.*)$ /$1?%1%2 [R=301,L]
	
	RewriteCond %{QUERY_STRING} ^(.*)&?cat_start=[^&]+&?(.*)$ [NC]
	RewriteRule ^/?(.*)$ /$1?%1%2 [R=301,L]
	
	RewriteCond %{QUERY_STRING} ^(.*)&?pn=[^&]+&?(.*)$ [NC]
	RewriteRule ^/?(.*)$ /$1?%1%2 [R=301,L]
	
	RewriteRule ^(.*)\.html$ http://www.guns.ua/$1 [R=301,L]
	
	#Redirects
	RewriteRule ^patronyi-dlya-vintovki1/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^8x57-jrs/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^7_62___308__14582/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^7-mm/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^444/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^416/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^375-handh-mag/(.*)$ http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^300/(.*)$ http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^30r-blaser/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^270-wsm/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^243/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^223/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^222/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^22/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^12_kal__4671/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^k-r-410/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^20_kal__4672/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^16_kal__4670/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^45-mm/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^4mm/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^9_mm_36/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^airsoft/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^aksessuary_pnevmatika_29/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^aksessuaryi-nozhi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^aksessuary-optika/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^misheni-i-oborudovanie/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^napravlennye_mikrofony_5511/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^podstavki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^raznoe/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^zamok__5510/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^xolodnaya-pristrelka/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^tochilki_4392/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^sredstva_po_uxodu_za_oruzhiem_49/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^tyuning-oruzhiya/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^obuv/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^pistols/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^snaryazhenie/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^makety-massogabaritnye/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^magazinnyie-vintovki-i-karabinyi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^maketyi-vintovok-mmg/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^gazo_balonnye_vintovki_27/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^samozaryadnyie-vintovki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^pruzhinno_porshnevye_vintovki_51/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^multikompressionnye_vintovki_28/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^droboviki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^aptechka_14573/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^specsredstva_14027/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^bronezhilety_14028/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^broneplastiny/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^gazovye_ballonchiki_14029/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^naruchniki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^kaski_14044/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^dubinki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^protivogazyi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^samospasateli/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^takticheskie_shhity_14047/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^nozhi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^zip-fonari/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^zapasnye-chasti-k-vintovkam/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^zapasnye-chasti-dlya-pistoletov/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^zapasnye-chasti-k-ruzhyam/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^fonari_26/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^optika_23/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^arbalety_4448/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^syurikenyi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^darts/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^duxovyie-trubki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^luki/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^rogatki_37/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^strelyi-i-aksesuaryi/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^snaryazhenie-dlya-patronov/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^kalibr-635/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^4_5_mm_35/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^5_5_mm_1307/?(.*) http://www.guns.ua/product/$1 [R=301,L]
	RewriteRule ^forum/?(.*) http://www.forum.guns.ua/$1 [R=301,L]
	
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
